* {
    font-family: 'Trebuchet MS', Arial, sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: rgb(93, 93, 93);
  }
  
  header {
    width: 100vw;
    background-color: none;
    border-bottom: 0.5px solid rgb(250, 250, 0, 0.500);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .info-container {
    color: rgb(250, 250, 0, 0.500);
    width: 500px;
    margin: 10px 30px;
  }

  header .input-container {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    width: 500px;
    height: 350px;
    padding: 30px;
    background-color: rgba(100, 100, 100, 0.8);
    border-radius: 5px;
    box-shadow: 0 0px 10px rgba(250, 250, 0, 0.3);
    border: 1px groove rgba(250, 250, 0, 0.6);
    display: none;
  }

  header .add-card {
    margin: 10px 30px;
    width: 150px;
    padding: 10px;
    color: white;
    background: rgba(250, 250, 0, 0.111);
    border: 1px solid rgba(250, 250, 0, 0.66);
    border-radius: 8px;
    transition: .2s;
    cursor: pointer;
  }
  
  header .close-card {
    width: 40px;
    padding: 3px;
    margin: auto;
    color: white;
    background: rgb(222, 33, 33, 0.111);
    border: 1px solid rgb(222, 33, 33, 0.66);
    border-radius: 8px;
    transition: .2s;
    cursor: pointer;
  }

  header .type-card {
    margin: 20px 0px;
    width: 316px;
    padding: 8px;
    color: white;
    background: none;
    border: 1px solid rgb(250, 250, 0, 0.6);
    border-radius: 8px;
  }
 
  header .typeoption-card {
    margin: 15px 0px;
    width: 260px;
    padding: 8px;
    color: white;
    background: rgba(100, 100, 100, 1);
    border: 1px solid rgb(250, 250, 0, 0.6);
    border-radius: 8px;
    transition: .2s;
    cursor: pointer;
  }
 
  header .new-card {
    margin: 25px 0px;
    width: 100px;
    padding: 5px;
    color: white;
    background: rgba(25, 0, 255, 0.111);
    border: 1px solid rgba(25, 0, 255, 0.66);
    border-radius: 8px;
    transition: .2s;
    cursor: pointer;
  }
  
  header .add-card:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.66), 
    0 5px 5px 0 rgba(250, 250, 0, 0.66);
  }
  
  header .close-card:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.66), 
    0 5px 5px 0 rgba(222, 33, 33, 0.66);
  }
  
  header .new-card:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.66), 
    0 5px 5px 0 rgba(25, 0, 255, 0.66);
  }

  header .input-container .input-column {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    width: 500px;
    height: 250px;
    padding: 15px;
    background-color: rgba(100, 100, 100, 0.6);
    border-radius: 5px;
    box-shadow: 0 0px 10px rgba(250, 250, 0, 0.3);
    border: 1px groove rgba(250, 250, 0, 0.6);
    display: none;
  }

  header .add-column {
    margin: 10px 30px;
    width: 150px;
    padding: 10px;
    color: white;
    background: rgba(250, 250, 0, 0.111);
    border: 1px solid rgba(250, 250, 0, 0.66);
    border-radius: 8px;
    transition: .2s;
    cursor: pointer;
  }

  header .close-column {
    width: 40px;
    padding: 3px;
    margin: auto;
    color: white;
    background: rgb(222, 33, 33, 0.111);
    border: 1px solid rgb(222, 33, 33, 0.66);
    border-radius: 8px;
    transition: .2s;
    cursor: pointer;
  }

  header .new-column {
    margin: 25px 0px;
    width: 100px;
    padding: 5px;
    color: white;
    background: rgba(25, 0, 255, 0.111);
    border: 1px solid rgba(25, 0, 255, 0.66);
    border-radius: 8px;
    transition: .2s;
    cursor: pointer;
  }

  header .add-column:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.66), 
    0 5px 5px 0 rgba(250, 250, 0, 0.66);
  }
  
  header .close-column:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.66), 
    0 5px 5px 0 rgba(222, 33, 33, 0.66);
  }
  
  header .new-column:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.66), 
    0 5px 5px 0 rgba(25, 0, 255, 0.66);
  }

  .row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: auto;
  }

  .fields {
    display: flex;
    flex-direction: column;
  }
  
  .fields #title {
    width: 460px;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid rgb(250, 250, 0, 0.6);
  }
  
  .fields #title-column {
    width: 460px;
    border: none;
    border-radius: 10px;
    padding: 20px;
  }
  
  .fields #description {
    width: 460px;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid rgb(250, 250, 0, 0.6);
  }
  
  .column-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .column-container .task-column {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 20px;
    margin: 10px;
    width: 300px;
  }
  
  .task-list {
    width: 100%;
    height: 100%;
  }
  
  .task-container {
    background-color: rgb(150, 150, 150);
    border-radius: 16px;
    margin: 20px 0;
    box-shadow: rgba(250, 250, 0, 0.500) 0 2px 2px,
      rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
    overflow: hidden;
  }
  
  .task-header {
    padding: 5px 15px;
    background-color: none;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
  }
  
  .task-description-container {
    padding: 10px;
    background-color: none;
    color: rgb(255, 255, 255);
  }
  
  .error-container {
    height: 30px;
  }
  
  .error-message {
    text-align: center;
    margin: 30px;
    background-color: rgb(143, 29, 29);
    border-radius: 10px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
  }
  